<h1>Cats Page</h1>
<p>Find me in app/views/welcome/index.html.erb</p>


<div id="cats-container">
  <h3>Community Cats</h3>
  <ul id="community">
    <!--  cats will be rendered -->
  </ul>
</div>

<div id="facts-container">
<h3>Cats Facts</h3>
<ul id="facts">
</ul>
</div>

<div id="images-container">
<h3>Cats Images</h3>
<ul id="images">
</ul>
</div>
