<footer>
  <div class="row contain">
    <section class="col-6">
      <ul>
        <li><%= image_tag("happycat.svg", class:"footer-cat", :alt => "cat loader") %><a href="http://thecatapi.com/" target="_blank">The Cat API</a></li>
        <li><%= image_tag("happycat.svg", class:"footer-cat", :alt => "cat loader") %><a href="http://catfacts-api.appspot.com/" target="_blank">Cat Facts API</a></li>
      </ul>

    </section>
    <section class="col-6">
        <p>It's A Footer! <%= image_tag("happycat.svg", class:"footer-cat", :alt => "cat loader") %> <span class="footer-love"><a href="https://github.com/monsterpony/rails-cat-app" target="_blank">Love, Heidi</a></span></p>
    </section>
</div>
</footer>
